# Compiled class files
*.class
bin/
target/
build/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Executable / Installer junk
*.exe
*.msi

# Operating system files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary logs
*.log
